* {
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(#6673A7, #fff, #fff);
	color: #808080;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.5;
}
.container {
	margin: 15px 25px 5px 25px;
	border: 2px solid #385577;
}
/* Header Start */
header {}
.menu-wrapper {
	background-color: #fff;
	overflow: hidden;
}
.logo {
	width: 20%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu {
	width: 65%;
	float: right;
}
.menu ul {
	list-style: none;
	float: right;
}
.menu ul li {
	float: left;
}
.menu ul li a {
	text-decoration: none;
	color: #808080;
	padding: 8px 15px;
	margin-top: 15px;
	display: block;
	transition: .5s;
}
.menu ul li a:hover {
	color: #000000;
	background: rgba(0, 0, 0, .2);
	border-radius: 5px;
}
/* Header End */

/* Banner Start */
.banner {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
}
.banner-wrapper {
	padding-top: 100px;
	padding-bottom: 200px;
	opacity: .5;
}
.banner-content {
	color: #fff;
	width: 20%;
	background: rgba(0, 0, 0, .8);
	padding: 25px 20px;
}
.banner-content h1 {
	font-size: 30px;
	font-weight: normal;
}
.banner-content p {}
.banner-content button {
	border: none;
	color: #fff;
	background: #000000;
	margin-top: 20px;
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
}
.banner-content button:hover {
	color: #000000;
	background-color: #fff;
}
/* Banner End */

/* Service Start */
.service {}
.service-wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 60px 0;
	overflow: hidden;
}
.single-service {
	width: 30%;
	margin: 0 auto;
	float: left;
	text-align: center;
	padding: 10px 20px;
}
.single-service:first-child {
	padding-left: 0px;
}
.single-service:last-child {
	padding-right: 0px;
}
.service-title h1 {
	font-size: 35px;
	font-weight: normal;
}
.service-logo {
	width: 100%;
	padding-bottom: 25px;
}
.service-logo img {
	width: 100%;
	height: 160px;
}
.service-content p {}
.service-content button {
	border: none;
	color: #fff;
	background-color: #385577;
	padding: 5px 15px;
	margin: 30px 35%;
	border-radius: 5px;
	cursor: pointer;
	transition: .5s;
}
.service-content button:hover {
	background-color: #F59D18;
}
/* Service End */

/* Footer Start */
.footer {
	padding-bottom: 60px;
	text-align: center;
}
.footer-wrapper {}
.footer-content {}
.footer-logo i {
	font-size: 60px;
	margin: 20px 5px;
	cursor: pointer;
}
.footer-logo a:nth-child(1) i {
	color: #5A7EC7;
	background: #fff;
}
.footer-logo a:nth-child(2) i {
	color: #228AE7;
	background: #fff;
}
.footer-logo a:nth-child(3) i {
	color: #DC5043;
	background: #fff;
}
.footer-logo a:nth-child(4) i {
	color: #F59D18;
	background: #fff;
}
.footer-logo i:hover {
	font-size: 65px;
}
/* Footer End */